<clr-accordion>
  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-title>Demo Explanation</clr-accordion-title>
    <clr-accordion-content>
      <p>
        This demo allows users to order columns. There are two ways to order columns. One option is to drag and drop the
        columns with the mouse. Another option is to focus on the column with the keyboard, press space to grab the
        column, use the keyboard arrows to move the column, and finally, press space again to drop the column.
      </p>

      <p>
        This behavior can be added to an angular datagrid by adding the new
        <code>customClrColumnOrderingGrid</code> directive and then angular cdk directive <code>cdkDropList</code> to
        the datagrid. Also, you will need to add the new <code>customClrColumnOrderingColumn</code> directive and the
        angular cdk directive <code>cdkDrag</code> to the datagrid columns. Also, you will need to provide styling for
        the new <code>.grabbed</code> class applied to the <code>clr-dg-column</code>. For a full example, see the
        <a
          target="_blank"
          href="https://github.com/vmware-clarity/starters/tree/main/grid-demo/src/app/angular/column-ordering"
        >
          demo code
        </a>
        on GitHub.
      </p>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-datagrid
  *ngIf="{ vms: vms | async }; let data"
  [clrDgLoading]="data.vms === null"
  cdkDropList
  customClrColumnOrderingGrid
  [(columns)]="columns"
>
  <clr-dg-column
    *ngFor="let column of columns; let index = index"
    [clrDgField]="column.field"
    cdkDrag
    [customClrColumnOrderingColumn]="column"
    [columnIndex]="index"
  >
    <ng-container *clrDgHideableColumn>{{ column.displayName }}</ng-container>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let vm of data.vms!" [clrDgItem]="vm">
    <clr-dg-cell *ngFor="let column of columns">{{ vm[column.field] }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination>
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Elements per page</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} elements
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
