<main cds-layout="vertical gap:md p:lg">
  <h1 cds-text="heading">Clarity + Angular Starter</h1>

  <div cds-layout="horizontal gap:sm">
    <a cds-text="link" href="https://clarity.design/storybook/core">Clarity Docs</a>
    <a cds-text="link" href="https://angular.io">Angular Docs</a>
  </div>

  <cds-button action="outline" (click)="showAlert = true">Hello There</cds-button>

  <cds-alert-group status="info" *ngIf="showAlert">
    <cds-alert [closable]="true" (closeChange)="showAlert = false">
      you are a bold one...
    </cds-alert>
  </cds-alert-group>
</main>
