<clr-accordion>
  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-title>Demo Explanation</clr-accordion-title>
    <clr-accordion-content>
      <p>
        This demo allows for using the shift and command/control keys to allow users to more easily and quickly select
        the rows they want. Essentially, this works very similar to how file explorers work.
      </p>
      <ul>
        <li>The <code>Shift</code> key allows multiple rows in range to be selected with a single click.</li>
        <li>The <code>Command/Control</code> key allows for selecting multiple rows.</li>
        <li>The <code>Alt</code> key allows for selecting single row.</li>
      </ul>
      <p>
        This feature is incompatible with datagrids that contain clickable items such as inputs, buttons, etc. in their
        cells because it extends row selection which is incompatible with such datagrids. From the
        <a target="_blank" href="https://clarity.design/documentation/datagrid/selection">documentation</a>:
      </p>

      <blockquote>
        Depending on the use case, you might want to allow selection when clicking anywhere in the grid row. Note that
        this is not recommended when the rows contain clickable items. For example, if your cells contain input,
        buttons, etc. it is best to avoid enabling whole row selection.
      </blockquote>

      <p>
        This behavior can be added to an angular datagrid (requires ^13.5.0 or ^12.3.0) by adding the new
        <code>customClrAdvancedSelection</code> directive to the datagrid. For a full example, see the
        <a
          target="_blank"
          href="https://github.com/vmware-clarity/starters/tree/main/grid-demo/src/app/angular/advanced-row-selection"
        >
          demo code
        </a>
        on GitHub.
      </p>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-datagrid *ngIf="{ vms: vms | async }; let data" [clrDgLoading]="data.vms === null" customClrAdvancedSelection>
  <clr-dg-column
    *ngFor="let column of columns"
    [clrDgField]="column.field"
    [clrDgColType]="$any(null)"
    [ngStyle]="{ width: column.width ? column.width + 'px' : null }"
  >
    <ng-template [clrDgHideableColumn]="{ hidden: column.hidden }" (clrDgHiddenChange)="column.hidden = $event">
      {{ column.displayName }}
    </ng-template>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let vm of data.vms!" [clrDgItem]="vm">
    <clr-dg-cell *ngFor="let column of columns">{{ vm[column.field] }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination>
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Elements per page</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} elements
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
