<clr-datagrid *ngIf="{ data: data | async }; let data" [clrDgLoading]="!data.data">
  <clr-dg-column *ngFor="let column of columns" [clrDgField]="column.field">
    <ng-template
      [clrDgHideableColumn]="{ hidden: column.hidden }"
      (clrDgHiddenChange)="updateColumnVisibility(column, $event)"
    >
      {{ column.displayName }}
    </ng-template>
  </clr-dg-column>

  <ng-template
    customClrVirtualRows
    let-vm
    [customClrVirtualRowsOf]="data.data?.vms"
    [customClrVirtualRowsMinBufferPx]="200"
    [customClrVirtualRowsMaxBufferPx]="400"
    (renderedRangeChange)="renderRangeChange($event)"
  >
    <clr-dg-row [clrDgItem]="vm || {}">
      <clr-dg-cell *ngFor="let column of columns">
        <ng-container *ngIf="vm">{{ vm[column.field] }}</ng-container>
        <ng-container *ngIf="!vm && column === firstVisibleColumn">LOADING...</ng-container>
      </clr-dg-cell>
    </clr-dg-row>
  </ng-template>

  <clr-dg-footer>
    {{ data.data?.totalResults }} total results ({{ data.data?.loadedCount }}
    loaded)
  </clr-dg-footer>
</clr-datagrid>
