<clr-accordion>
  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-title>Demo Explanation</clr-accordion-title>
    <clr-accordion-content>
      <p>
        This demo allows for the datagrid to load rows lazily. At first all rows will show a loading indication, but
        after scrolling to a row that is loading, the data will load in. The data will not attempt to load the data for
        rows being scrolled passed, but instead waits for a pause in the scrolling and only loads the rows that are
        visible when the scrolling stops. To demonstrate this, this demo shows how many rows are loaded in the bottom
        right corner of the footer. This demo also uses virtual scrolling to ensure good performance.
      </p>

      <p>
        This behavior can be added to an angular datagrid by applying a fixed height to the datagrid and adding the new
        <code>customClrVirtualRows</code> directive and listening to the <code>renderedRangeChange</code> event to load
        more data. In this demo we use a lazy-load data service and rxjs operators such as <code>switchmap</code>,
        <code>from</code>, <code>distinct</code>, <code>mergemap</code> and <code>scan</code> to manage which rows are
        loaded. For a full example, see the
        <a
          target="_blank"
          href="https://github.com/vmware-clarity/starters/tree/main/grid-demo/src/app/angular/lazy-loading-rows"
        >
          demo code
        </a>
        on GitHub.
      </p>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-datagrid *ngIf="{ data: data | async }; let data" [clrDgLoading]="!data.data">
  <clr-dg-column *ngFor="let column of columns" [clrDgField]="column.field" [clrDgColType]="$any(null)">
    <ng-template
      [clrDgHideableColumn]="{ hidden: column.hidden }"
      (clrDgHiddenChange)="updateColumnVisibility(column, $event)"
    >
      {{ column.displayName }}
    </ng-template>
  </clr-dg-column>

  <ng-template
    customClrVirtualRows
    let-vm
    [customClrVirtualRowsOf]="data.data?.vms"
    [customClrVirtualRowsMinBufferPx]="200"
    [customClrVirtualRowsMaxBufferPx]="400"
    (renderedRangeChange)="renderRangeChange($event)"
  >
    <clr-dg-row [clrDgItem]="vm || {}">
      <clr-dg-cell *ngFor="let column of columns">
        <ng-container *ngIf="vm">{{ vm[column.field] }}</ng-container>
        <ng-container *ngIf="!vm && column === firstVisibleColumn">LOADING...</ng-container>
      </clr-dg-cell>
    </clr-dg-row>
  </ng-template>

  <clr-dg-footer>{{ data.data?.totalResults }} total results ({{ data.data?.loadedCount }} loaded)</clr-dg-footer>
</clr-datagrid>
