<clr-datagrid *ngIf="{ vms: vms | async }; let data" [clrDgLoading]="data.vms === null">
  <clr-dg-column *ngFor="let column of columns" [clrDgField]="column.field">
    <ng-template [clrDgHideableColumn]="{ hidden: column.hidden }" (clrDgHiddenChange)="column.hidden = $event">
      {{ column.displayName }}
    </ng-template>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let vm of data.vms!" [clrDgItem]="vm">
    <clr-dg-cell *ngFor="let column of columns">
      <ng-container *ngIf="!column.hidden">{{ vm[column.field] }}</ng-container>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination>
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"> Elements per page </clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} elements
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
