<cds-grid
  *ngIf="
    {
      vms: vms | async,
      selectedMap: selectedMap | async,
      selectedCount: selectedCount | async,
      pageIndex: pageIndex | async,
      pageCount: pageCount | async,
      pageSize: pageSize | async,
      entirePageSelected: entirePageSelected | async
    };
    let data
  "
  aria-label="basic datagrid demo"
  height="400"
>
  <cds-grid-column type="action">
    <cds-checkbox>
      <input (click)="selectAll()" type="checkbox" [checked]="data.entirePageSelected" aria-label="Select All" />
    </cds-checkbox>
  </cds-grid-column>
  <cds-grid-column *ngFor="let column of columns">{{ column.displayName }}</cds-grid-column>

  <ng-container *ngIf="data.vms === null">
    <cds-grid-placeholder>
      <cds-progress-circle size="xl" status="info"></cds-progress-circle>
      <p cds-text="subsection">Loading Data</p>
    </cds-grid-placeholder>
  </ng-container>

  <cds-grid-row
    *ngFor="let vm of data.vms"
    (click)="rowClicked($event, vm.id)"
    [attr.selected]="data.selectedMap![vm.id]"
  >
    <cds-grid-cell>
      <cds-checkbox (click)="stopPropagation($event)">
        <input
          (click)="rowChecked($event, vm.id)"
          type="checkbox"
          [checked]="data.selectedMap![vm.id]"
          value="${vm.id}"
          aria-label="Select VM ${vm.id}"
        />
      </cds-checkbox>
    </cds-grid-cell>
    <cds-grid-cell *ngFor="let column of columns">
      {{ vm[column.field] }}
    </cds-grid-cell>
  </cds-grid-row>

  <cds-grid-footer>
    <cds-grid-pagination
      [page]="data.pageIndex"
      [pageCount]="data.pageCount"
      [pageSize]="data.pageSize"
      (pageChange)="pageChange($event)"
      (pageSizeChange)="pageSizeChange($event)"
    >
    </cds-grid-pagination>
  </cds-grid-footer>
</cds-grid>
