clr-datagrid {
  height: 500px;
}

clr-dg-column.grabbed {
  background-color: rgba(0, 114, 163, 0.5);
}

clr-dg-cell .cell-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
}
