<clr-accordion>
  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-title>Demo Explanation</clr-accordion-title>
    <clr-accordion-content>
      <p>
        This demo is a composite of all six individual demos included in the project. The goal of this project was to
        implement the most requested features of the angular datagrid without modifying the source code for the
        datagrid. All features in this demo can be implemented without upgrading your version of Clarity (with a
        possible exception for the range selection behavior which requires ^13.5.0 or ^12.3.0).
      </p>

      <p>
        Please note that these proposed solutions are still a work in progress and experimental only. Directives that
        are prefixed with <code>customClr</code> are provided by this demo and not by the Clarity library at this time.
        The Clarity team is currently undergoing accessibility testing for these solutions and all demos and
        implementation code are subject to change.
      </p>

      <p>
        For full examples of these demos, see the
        <a target="_blank" href="https://github.com/vmware-clarity/starters/tree/main/grid-demo/src/app/angular">
          demo code on GitHub
        </a>
        .
      </p>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-datagrid
  *ngIf="{ data: data | async }; let data"
  cdkDropList
  customClrAdvancedSelection
  customClrColumnOrderingGrid
  customClrScreenReaderColumns
  [(columns)]="columns"
  [clrDgLoading]="!data.data"
>
  <clr-dg-column
    *ngFor="let column of columns; let index = index"
    cdkDrag
    [customClrColumnOrderingColumn]="column"
    [columnIndex]="index"
    [clrDgField]="column.field"
    [clrDgColType]="$any(null)"
  >
    <ng-template
      [clrDgHideableColumn]="{ hidden: column.hidden }"
      (clrDgHiddenChange)="updateColumnVisibility(column, $event)"
    >
      {{ column.displayName }}
    </ng-template>
  </clr-dg-column>

  <ng-template
    customClrVirtualRows
    let-vm
    [customClrVirtualRowsOf]="data.data?.vms"
    [customClrVirtualRowsMinBufferPx]="200"
    [customClrVirtualRowsMaxBufferPx]="400"
    (renderedRangeChange)="renderRangeChange($event)"
  >
    <clr-dg-row [clrDgItem]="vm || {}">
      <clr-dg-cell *ngFor="let column of columns">
        <ng-container *ngIf="vm && !column.hidden">{{ vm[column.field] }}</ng-container>
        <ng-container *ngIf="!vm && column === firstVisibleColumn">LOADING...</ng-container>
      </clr-dg-cell>
    </clr-dg-row>
  </ng-template>

  <clr-dg-footer>{{ data.data?.totalResults }} total results ({{ data.data?.loadedCount }} loaded)</clr-dg-footer>
</clr-datagrid>
